<div class="ae-container-fluid ae-container-fluid--inner rk-main">
  <div class="ae-grid au-xs-ta-center au-mb-4">
    <div class="ae-grid__item item-lg-12 ae-kappa au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">Términos y Condiciones</h5>
      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">
        Estos son los términos y condiciones de uso de nuestro servicio. Al acceder y utilizar nuestro sitio web, usted acepta cumplir con estos términos y condiciones en su totalidad. Si no está de acuerdo con alguna parte de estos términos y condiciones, no utilice nuestro sitio web.
      </p>
      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">
        Nuestro sitio web utiliza cookies para mejorar la experiencia del usuario. Al continuar navegando por nuestro sitio, usted acepta nuestro uso de cookies de acuerdo con nuestra política de privacidad.
      </p>
      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">
        Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Los cambios serán efectivos cuando se publiquen en el sitio web. Le recomendamos que revise periódicamente esta página para estar al tanto de cualquier cambio.
      </p>
    </div>
  </div>
</div>
